/* App.css */

.body {
    font-family: 'Arial', Helvetica, sans-serif;
    background-image: url("microprocessor-sheet.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px;
  }
  
  .logo {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
  }
  
  .input {
    width: 100%;
    padding: 14px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  
  .link {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
  }
  
  .copyBtn {
    background-color: #f1f1f1;
    color: #4CAF50;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
